<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ComponentRules="OneToOne"?>
  <!-- SourceDir instructs IsWiX the location of the directory that contains files for this merge module -->
  <?define SourceDir="..\Deploy"?>
  <Module Id="ToDeleteMM" Language="1033" Version="1.0.0.0">
    <Package Id="d8ec1068-f3ae-4a08-8cd0-8d6328c60f15" Manufacturer="ToDeleteMM" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder"/>
    </Directory>
    <ComponentGroupRef Id="Custom"/>
  </Module>
</Wix>
