<?xml version="1.0" encoding="UTF-8"?>

<!-- The name of the product -->
<?define Name = "District Energy Plugin" ?>

<!-- The Description of the product -->
<?define Description = "Simulate district energy systems in UMI" ?>

<!-- The manufacturer, for setup package publisher and folder info -->
<?define Manufacturer = "Samuel Letellier-Duchesne" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:ui="http://schemas.microsoft.com/wix/">
  <!-- Use Id=* to generate a new GUID each time. Note that UpgradeCode MUST always stay the same for ever and ever. -->
  <?define ProductVersion="$(fileVersion.ProductVersion($(var.DistrictEnergy.TargetPath)))" ?>
  <Product Id="*" Name="$(var.Name)" Language="1033" Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)" UpgradeCode="{8A63E6EB-06B2-4C59-9E1E-3779A488C225}">
    <!-- Install perUser -->
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" InstallPrivileges="limited"
             Description="$(var.Name)" Manufacturer="$(var.Manufacturer)" />

    <!-- Customized UI taken literally from http://neilsleightholm.blogspot.nl/2008/08/customised-uis-for-wix.html -->
    <UI Id="WixUI_MondoNoLicense">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Mondo" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg">1</Publish>

      <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="TypicalButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="CustomButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="CompleteButton" Event="NewDialog"
               Value="VerifyReadyDlg">
        1
      </Publish>

      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg"
               Order="1">
        WixUI_InstallMode = "Change"
      </Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg"
               Order="2">
        WixUI_InstallMode = "InstallCustom"
      </Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg"
               Order="1">
        WixUI_InstallMode = "InstallCustom"
      </Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg"
               Order="2">
        WixUI_InstallMode = "InstallTypical" OR WixUI_InstallMode = "InstallComplete"
      </Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg"
               Order="3">
        WixUI_InstallMode = "Change"
      </Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg"
               Order="4">
        WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"
      </Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog"
               Value="MaintenanceTypeDlg">
        1
      </Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog"
               Value="CustomizeDlg">
        1
      </Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog"
               Value="VerifyReadyDlg">
        1
      </Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog"
               Value="VerifyReadyDlg">
        1
      </Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog"
               Value="MaintenanceWelcomeDlg">
        1
      </Publish>
    </UI>
    <UIRef Id="WixUI_Common" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.DistrictEnergy.ProjectDir)Resources\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.DistrictEnergy.ProjectDir)Resources\WixUIDialogBmp.bmp" />

    <!-- Define the MARIN icon to show in the Add/Remove Programs (ARP) dialog-->
    <Icon Id="TabHeaderIcon.ico" SourceFile="$(var.DistrictEnergy.ProjectDir)Resources\TabHeaderIcon.ico" />
    <Property Id="ARPPRODUCTICON" Value="TabHeaderIcon.ico" />

    <!-- end of customized UI -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Check for .NET 4.0 -->
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition
      Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <!-- Check for Rhino 6.0 x64-->
    <Property Id="RHINOX64">
      <RegistrySearch Id="TestAppRegSearch"
                      Root="HKLM"
                      Key="SOFTWARE\McNeel\Rhinoceros\6.0\Install"
                      Name="Version"
                      Type="raw"
                      Win64="yes" />
      <!-- Win64=yes is REQUIRED! -->
    </Property>

    <!-- TODO: check the actual version of Rhino against the version used to build the plug-ins -->
    <Condition Message="[ProductName] require Rhino 6. Please install Rhino and run this installer again.">
      <![CDATA[Installed OR RHINOX64]]>
    </Condition>

    <Feature Id="DistrictEnergyPlugin" Title="$(var.Name)" Level="1">
      <!-- The DLL dependencies -->
      <ComponentGroupRef Id="CMPGRP_Dependencies" />
      <!-- DH plug-in -->
      <Feature Id="DHcommon" Title="$(var.Name)" Level="2" Absent="disallow">
        <MergeRef Id="DistrictEnergyMM" />
        <MergeRef Id="ExportLoadsToFileMM" />
      </Feature>
    </Feature>

  </Product>

  <!-- This is where the merge modules are referenced. Each plug-in creates a merge module -->
  <Fragment Id="FRG_Merge">
    <DirectoryRef Id="TARGETDIR">
      <Merge Id="DistrictEnergyMM" SourceFile="$(var.DistrictEnergyMM.TargetDir)DistrictEnergyMM.msm" Language="1033"
             DiskId="1" />
      <Merge Id="ExportLoadsToFileMM" SourceFile="$(var.ExportLoadsToFileMM.TargetDir)ExportLoadsToFileMM.msm"
             Language="1033" DiskId="1" />
    </DirectoryRef>
  </Fragment>

  <!-- This is where the dependencies are grouped. See below for the components -->
  <Fragment Id="FRG_DependenciesGroup">
    <ComponentGroup Id="CMPGRP_Dependencies">
      <ComponentRef Id="DistrictEnergyDLL" />
      <ComponentRef Id="CsvHelperDLL" />
      <ComponentRef Id="EnergyPlusWeatherDLL" />
      <ComponentRef Id="LiveChartsDLL" />
      <ComponentRef Id="LiveChartsWpfDLL" />
      <ComponentRef Id="NewtonSoftJsonDLL" />
      <ComponentRef Id="DeedleDLL" />
      <ComponentRef Id="FSharpCoreDLL" />
      <ComponentRef Id="MaterialDesignColorsDLL" />
      <ComponentRef Id="MaterialDesignThemesWpfDLL" />
      <ComponentRef Id="PresentationFrameworkDLL" />
      <ComponentRef Id="SystemValueTupleDLL" />
      <ComponentRef Id="DragablzDLL" />
      <ComponentRef Id="Google.OrTools" />
      <ComponentRef Id="Google.Protobuf" />
      <ComponentRef Id="google.ortools.native" />
      <ComponentRef Id="LiveChartsGearedDLL"/>
    </ComponentGroup>
  </Fragment>

  <Fragment Id="FRG_Dependencies">
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder" Name="AppDataFolder">
        <Directory Id="PLUGINFOLDER" Name="$(var.Name)">


          <Component Id="DistrictEnergyDLL" Guid="{3bf81a6b-26c7-4c52-a9f9-0aef080d4a0a}">
            <RemoveFolder Id="remPLUGINFOLDER" Directory="PLUGINFOLDER" On="uninstall" />
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="DistrictEnergyDLL" Value="1" KeyPath="yes" Type="integer" />
            </RegistryKey>
            <File Id="DistrictEnergyDLL" Name="DistrictEnergy.dll"
                  Source="$(var.DistrictEnergy.TargetDir)DistrictEnergy.dll" />
          </Component>

          <Component Id="CsvHelperDLL" Guid="{BC056345-4E4F-458B-AC27-2D8421BE6B00}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="CsvHelperDLL" Value="1" KeyPath="yes" Type="integer" />
            </RegistryKey>
            <File Id="CsvHelperDLL" Name="CsvHelper.dll" Source="$(var.ExportLoadsToFile.TargetDir)CsvHelper.dll" />
          </Component>

          <Component Id="EnergyPlusWeatherDLL" Guid="{E31B8CD5-F5EB-4A12-A191-C66E46344E03}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="EnergyPlusWeatherDLL" Value="1" KeyPath="yes" Type="integer" />
            </RegistryKey>
            <File Id="EnergyPlusWeatherDLL" Name="EnergyPlusWeather.dll"
                  Source="$(var.ExportLoadsToFile.TargetDir)EnergyPlusWeather.dll" />
          </Component>

          <Component Id="LiveChartsDLL" Guid="{13DE637C-BC0C-40D9-B428-E9E6F4BD2F52}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="LiveChartsDLL" Value="1" KeyPath="yes" Type="integer" />
            </RegistryKey>
            <File Id="LiveChartsDLL" Name="LiveCharts.dll" Source="$(var.DistrictEnergy.TargetDir)LiveCharts.dll" />
          </Component>

          <Component Id="LiveChartsGearedDLL" Guid="{4502443E-FBC7-4B3D-8827-647C3C9FE067}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="LiveChartsGearedDLL" Value="1" KeyPath="yes" Type="integer" />
            </RegistryKey>
            <File Id="LiveChartsGearedDLL" Name="LiveCharts.Geared.dll" Source="$(var.DistrictEnergy.TargetDir)LiveCharts.Geared.dll" />
          </Component>

          <Component Id="LiveChartsWpfDLL" Guid="{A87122EC-EB95-4F6C-985A-254962FFF106}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="LiveChartsDLL" Value="1" KeyPath="yes" Type="integer" />
            </RegistryKey>
            <File Id="LiveChartsWpfDLL" Name="LiveCharts.Wpf.dll"
                  Source="$(var.DistrictEnergy.TargetDir)LiveCharts.Wpf.dll" />
          </Component>

          <Component Id="NewtonSoftJsonDLL" Guid="{08A0E2F9-58A0-4B38-8515-0A6B804A4777}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="NewtonSoftJsonDLL" Value="1" KeyPath="yes" Type="integer" />
            </RegistryKey>
            <File Id="NewtonSoftJsonDLL" Name="Newtonsoft.Json.dll"
                  Source="$(var.DistrictEnergy.TargetDir)Newtonsoft.Json.dll" />
          </Component>

          <Component Id="DeedleDLL" Guid="{AAB6518E-F030-4D4B-8D55-8D892F6CE11D}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="DeedleDLL" Value="1" KeyPath="yes" Type="integer"></RegistryValue>
            </RegistryKey>
            <File Id="DeedleDLL" Name="Deedle.dll"
                  Source="$(var.DistrictEnergy.TargetDir)Deedle.dll">
            </File>
          </Component>

          <Component Id="FSharpCoreDLL" Guid="{1E3C976C-3ED5-420C-8EE4-5C019AF445CC}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="FSharpCoreDLL" Value="1" KeyPath="yes" Type="integer"></RegistryValue>
            </RegistryKey>
            <File Id="FSharpCoreDLL" Name="FSharp.Core.dll"
                  Source="$(var.DistrictEnergy.TargetDir)FSharp.Core.dll">
            </File>
          </Component>

          <Component Id="MaterialDesignColorsDLL" Guid="{0F87F01D-E7FE-4B10-A447-C1898B59D78D}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="MaterialDesignColorsDLL" Value="1" KeyPath="yes" Type="integer"></RegistryValue>
            </RegistryKey>
            <File Id="MaterialDesignColorsDLL" Name="MaterialDesignColors.dll"
                  Source="$(var.DistrictEnergy.TargetDir)MaterialDesignColors.dll">
            </File>
          </Component>

          <Component Id="MaterialDesignThemesWpfDLL" Guid="{185A1F1A-2757-4994-8C51-45BAC3948629}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="MaterialDesignThemesWpfDLL" Value="1" KeyPath="yes" Type="integer"></RegistryValue>
            </RegistryKey>
            <File Id="MaterialDesignThemesWpfDLL" Name="MaterialDesignThemes.Wpf.dll"
                  Source="$(var.DistrictEnergy.TargetDir)MaterialDesignThemes.Wpf.dll">
            </File>
          </Component>

          <Component Id="PresentationFrameworkDLL" Guid="{013CB430-84C2-493D-90B8-E49F58723B10}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="PresentationFrameworkDLL" Value="1" KeyPath="yes" Type="integer"></RegistryValue>
            </RegistryKey>
            <File Id="PresentationFrameworkDLL" Name="PresentationFramework.dll"
                  Source="$(var.DistrictEnergy.TargetDir)PresentationFramework.dll">
            </File>
          </Component>

          <Component Id="SystemValueTupleDLL" Guid="{883369E9-0682-4D48-8A7C-273B67E919C9}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="SystemValueTupleDLL" Value="1" KeyPath="yes" Type="integer"></RegistryValue>
            </RegistryKey>
            <File Id="SystemValueTupleDLL" Name="System.ValueTuple.dll"
                  Source="$(var.DistrictEnergy.TargetDir)System.ValueTuple.dll">
            </File>
          </Component>

          <Component Id="DragablzDLL" Guid="{53BB9B71-B248-43BE-8695-2A40CE0A1E62}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="DragablzDLL" Value="1" KeyPath="yes" Type="integer"></RegistryValue>
            </RegistryKey>
            <File Id="DragablzDLL" Name="Dragablz.dll"
                  Source="$(var.DistrictEnergy.TargetDir)Dragablz.dll">
            </File>
          </Component>
          <Component Id="Google.OrTools" Guid="{1BF925CC-BBAA-4B69-93EC-3D118BB0D5F7}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="Google.OrTools" Value="1" KeyPath="yes" Type="integer"></RegistryValue>
            </RegistryKey>
            <File Id="Google.OrTools" Name="Google.OrTools.dll"
                  Source="$(var.DistrictEnergy.TargetDir)Google.OrTools.dll">
            </File>
          </Component>

          <Component Id="Google.Protobuf" Guid="{B7F796D1-9384-486E-B5E0-CEDC9E32C3FF}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="Google.Protobuf" Value="1" KeyPath="yes" Type="integer"></RegistryValue>
            </RegistryKey>
            <File Id="Google.Protobuf" Name="Google.Protobuf.dll"
                  Source="$(var.DistrictEnergy.TargetDir)Google.Protobuf.dll">
            </File>
          </Component>

          <Component Id="google.ortools.native" Guid="{53DC3120-B183-4EF1-ADFF-EE0575EF293E}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="google.ortools.native" Value="1" KeyPath="yes" Type="integer"></RegistryValue>
            </RegistryKey>
            <File Id="google.ortools.native" Name="google-ortools-native.dll"
                  Source="$(var.DistrictEnergy.TargetDir)google-ortools-native.dll">
            </File>
          </Component>

        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>