<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:ui="http://schemas.microsoft.com/wix/">
  <!-- Use Id=* to generate a new GUID each time. Note that UpgradeCode MUST always stay the same for ever and ever. -->
 
  <Product Id="*" Name="District Energy Plug-Ins" Language="1033" Version="1.0.1.0" Manufacturer="MIT Sustainable Design Lab" UpgradeCode="{8A63E6EB-06B2-4C59-9E1E-3779A488C225}">
    <!-- Install perUser -->
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <!-- Customized UI taken literally from http://neilsleightholm.blogspot.nl/2008/08/customised-uis-for-wix.html -->
    <UI Id="WixUI_MondoNoLicense">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Mondo" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg">1</Publish>

      <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="TypicalButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="CustomButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="CompleteButton" Event="NewDialog"
               Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg"
               Order="1">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg"
               Order="2">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg"
               Order="1">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg"
               Order="2">WixUI_InstallMode = "InstallTypical" OR WixUI_InstallMode = "InstallComplete"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg"
               Order="3">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg"
               Order="4">WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog"
               Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog"
               Value="CustomizeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog"
               Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog"
               Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog"
               Value="MaintenanceWelcomeDlg">1</Publish>
    </UI>
    <UIRef Id="WixUI_Common" />
    <WixVariable Id="WixUIBannerBmp" Value="C:\Users\samib\Dropbox\Polytechnique\Doc\MIT\Plugin\DistrictEnergy\DistrictEnergy\Resources\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="C:\Users\samib\Dropbox\Polytechnique\Doc\MIT\Plugin\DistrictEnergy\DistrictEnergy\Resources\WixUIDialogBmp.bmp"/>
    
    <!-- Define the MARIN icon to show in the Add/Remove Programs (ARP) dialog-->
    <Icon Id="TabHeaderIcon.ico" SourceFile="C:\Users\samib\Dropbox\Polytechnique\Doc\MIT\Plugin\DistrictEnergy\DistrictEnergy\Resources\TabHeaderIcon.ico" />
    <Property Id="ARPPRODUCTICON" Value="TabHeaderIcon.ico" />

    <!-- end of customized UI -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Check for .NET 4.0 -->
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <!-- Check for Rhino 5.0 x64-->
    <Property Id="RHINOX64">
      <RegistrySearch Id="TestAppRegSearch"
                      Root="HKLM"
                      Key="SOFTWARE\McNeel\Rhinoceros\5.0x64\Install"
                      Name="Version"
                      Type="raw"
                      Win64="yes" />
      <!-- Win64=yes is REQUIRED! -->
    </Property>

    <!-- TODO: check the actual version of Rhino against the version used to build the plug-ins -->
    <Condition Message="[ProductName] require Rhino 5.0 (64-bit). Please install Rhino then run this installer again.">
      <![CDATA[Installed OR RHINOX64]]>
    </Condition>

    <Feature Id="DistrictEnergyPlugins" Title="District Energy Plug-Ins" Level="1">
      <!-- The DLL dependencies -->
      <ComponentGroupRef Id="CMPGRP_Dependencies" />
      <!-- DH plug-in -->
      <Feature Id="DHcommon" Title="District Energy Plug-In" Level="2" Absent="disallow">
        <MergeRef Id="DistrictEnergyMM" />
        <MergeRef Id="ExportLoadsToFileMM"/>
        <MergeRef Id ="TempFilesMM"/>
      </Feature>
    </Feature>

  </Product>

  <!-- This is where the merge modules are referenced. Each plug-in creates a merge module -->
  <Fragment Id="FRG_Merge">
    <DirectoryRef Id="TARGETDIR">
      <Merge Id="DistrictEnergyMM" SourceFile="C:\Users\samib\Dropbox\Polytechnique\Doc\MIT\Plugin\DistrictEnergy\MergeModule\bin\Debug\DistrictEnergyMM.msm" Language="1033" DiskId="1" />
      <Merge Id="ExportLoadsToFileMM" SourceFile="C:\Users\samib\Dropbox\Polytechnique\Doc\MIT\Plugin\DistrictEnergy\ExportLoadsToFileMM\bin\Debug\ExportLoadsToFileMM.msm" Language="1033" DiskId="1" />
      <Merge Id="TempFilesMM" SourceFile="$(var.TempFilesMM.TargetDir)TempFilesMM.msm" Language="1033" DiskId="1" />
    </DirectoryRef>
  </Fragment>

  <!-- This is where the dependencies are grouped. See below for the components -->
  <Fragment Id="FRG_DependenciesGroup">
    <ComponentGroup Id="CMPGRP_Dependencies">
      <ComponentRef Id="DistrictEnergyDLL" />
      <ComponentRef Id="CsvHelperDLL" />
      <ComponentRef Id="EnergyPlusWeatherDLL" />
      <!--<ComponentRef Id="NewtonsoftJson" />-->
      <ComponentRef Id="TrnsysUmiPlatformDLL" />
      <ComponentRef Id="MathNetNumericsDLL" />
    </ComponentGroup>
  </Fragment>

  <Fragment Id="FRG_Dependencies">
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder" Name="AppDataFolder">
        <Directory Id="PLUGINFOLDER" Name="District Energy Plug-Ins">


          <Component Id="DistrictEnergyDLL" Guid="3bf81a6b-26c7-4c52-a9f9-0aef080d4a0a">
            <RemoveFolder Id="remPLUGINFOLDER" Directory="PLUGINFOLDER" On="uninstall"/>
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="DistrictEnergyDLL" Value="1" KeyPath="yes" Type="integer" />
            </RegistryKey>
            <File Id="DistrictEnergyDLL" Name="DistrictEnergy.dll" Source="$(var.DistrictEnergy.TargetDir)DistrictEnergy.dll"/>
          </Component>

          <Component Id="CsvHelperDLL" Guid="{BC056345-4E4F-458B-AC27-2D8421BE6B00}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="CsvHelperDLL" Value="1" KeyPath="yes" Type="integer" />
            </RegistryKey>
            <File Id="CsvHelperDLL" Name="CsvHelper.dll" Source="$(var.ExportLoadsToFile.TargetDir)CsvHelper.dll"/>
          </Component>

          <Component Id="EnergyPlusWeatherDLL" Guid="{E31B8CD5-F5EB-4A12-A191-C66E46344E03}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="EnergyPlusWeatherDLL" Value="1" KeyPath="yes" Type="integer" />
            </RegistryKey>
            <File Id="EnergyPlusWeatherDLL" Name="EnergyPlusWeather.dll" Source="$(var.ExportLoadsToFile.TargetDir)EnergyPlusWeather.dll"/>
          </Component>

          <Component Id="TrnsysUmiPlatformDLL" Guid="{36302638-557D-4B30-9667-22DCA2AB6050}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="TrnsysUmiPlatformDLL" Value="1" KeyPath="yes" Type="integer" />
            </RegistryKey>
            <File Id="TrnsysUmiPlatformDLL" Name="TrnsysUmiPlatform.dll" Source="$(var.TrnsysUmiPlatform.TargetDir)TrnsysUmiPlatform.dll"/>
          </Component>

          <Component Id="MathNetNumericsDLL" Guid="{3843BF61-0F61-4C1D-8FDD-B40B40DC8E29}">
            <RegistryKey Root="HKCU" Key="Software\MIT Sustainable Design Lab\RhinoPlugIns">
              <RegistryValue Name="MathNetNumericsDLL" Value="1" KeyPath="yes" Type="integer" />
            </RegistryKey>
            <File Id="MathNetNumericsDLL" Name="MathNet.Numerics.dll" Source="$(var.EnergyPlusWeather.TargetDir)MathNet.Numerics.dll"/>
          </Component>

        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
