<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="cmpC13C7AA348517FAEA07F5A7E353EF0BD" Guid="{3841CB5B-B97A-463B-BC15-FC1D133B4E71}">
                <File Id="fil7BD3AC89920EA109356DB6C10203031E" KeyPath="yes" Source="$(var.UmiTempLocation)\SC01.py" />
            </Component>
            <Component Id="cmp7622BD805633B2E4B83A4BD2F9DF8A3F" Guid="{352F4404-3347-4308-8D4F-306B62DA8587}">
                <File Id="fil3C6AD8A03F52A49BE1DACFFBA784B2F4" KeyPath="yes" Source="$(var.UmiTempLocation)\SC02.py" />
            </Component>
            <Component Id="cmp69D8DD3279F340493340A98D585C0E12" Guid="{9BE106EA-3BB2-42EB-B104-FACAD3F77A1F}">
                <File Id="fil30C5E42910DB5F95AD6A1C3D6560D32D" KeyPath="yes" Source="$(var.UmiTempLocation)\SC03.py" />
            </Component>
            <Component Id="cmp6CB862703EF48640C363C7ECD6261CE1" Guid="{CB706993-F354-49B6-B149-5586C24D6297}">
                <File Id="fil5851A7D08F6DEF4FE0B96B0E49459466" KeyPath="yes" Source="$(var.UmiTempLocation)\SC04.py" />
            </Component>
            <Directory Id="dir3A20336C9712F846BA5A617C3BC03758" Name="DHSimulationResults">
                <Component Id="cmp2C5614441C66FA2F2722468548613BF4" Guid="{DD3BEC9F-5134-4B14-B99F-8A09DF06C247}" KeyPath="yes">
                    <CreateFolder />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="TempFilesComponentGroup">
            <ComponentRef Id="cmpC13C7AA348517FAEA07F5A7E353EF0BD" />
            <ComponentRef Id="cmp7622BD805633B2E4B83A4BD2F9DF8A3F" />
            <ComponentRef Id="cmp69D8DD3279F340493340A98D585C0E12" />
            <ComponentRef Id="cmp6CB862703EF48640C363C7ECD6261CE1" />
            <ComponentRef Id="cmp2C5614441C66FA2F2722468548613BF4" />
        </ComponentGroup>
    </Fragment>
</Wix>