<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="MergeModule" Language="1033" Version="1.0.0.0">
		<Package Id="6e8e8ab3-3d9d-4e17-955e-fcaffb432ee0" Manufacturer="Sustainable Design Lab" InstallerVersion="200" InstallScope="perUser" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">

				<!-- TODO: Remove the comments around this Component element in order to add resources to this module. -->
				<!-- <Component Id="ModuleComponent" Guid="833cca70-4c56-4b9e-b9cf-768a05b7fdd7"> -->
					<!-- TODO: Insert files, registry keys, and other resources here. -->
				<!-- </Component> -->

			</Directory>
		</Directory>
	</Module>
</Wix>
